# Временные файлы и кэш Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.userosscache
*.json
*.txt

# Базы данных просмотра кода VS
*.db
*.db-shm
*.db-wal
*.opendb
*.sqlite

# Папки сборки и бинарники C++
x64/
Debug/
Release/
*.dll
*.so
*.pyd
*.lib
*.exp
*.pdb
*.recipe
*.log
*.tlog

# Библиотека pybind11
**/include/pybind11/

# Нейросети
*.gguf
